 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
 
 *{
   padding: 0px;
   margin: 0px;
   
   
 }
 body{
   
     font-family: 'Ubuntu', sans-serif;
   
 }
 #savedetails{
  
  border: 2px solid #54576F;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}
.in{
 margin: 10px;
 padding: 10px;
 display: flex;
 background-color: #000000;
 border-radius: 10px;
 
 
  
}

#searchTxt{
  height: 40px;
  width: 270px;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  }
  
 #sicon{
   
   color: #FFFFFF;
    font-size: 30px;
    margin-top:10px;
    position: relative;
    top: -5px;
    left: 5px;
    
 }
 .p{
  
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  
  
}
.head{
  padding: 5px;
  margin-left: 90px;
  margin-right: 90px;
  background-color: #FEFF00;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.card{
  display: grid;
  place-items: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid #54576F;
  font-family: 'Ubuntu', sans-serif;
  }

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 90px;
}
